Repository depromeet/Swimie-Web, pull requests merged in 2024-10, with the labels that each got.

#446 chore: 온보딩 이미지 next/image로 변경
  features/on-boarding/components/molecules/steps.tsx
Labels: chore, Approved 🆗

#447 chore: 온보딩 이미지 lazy-loading 제거
  features/on-boarding/components/molecules/steps.tsx
Labels: chore, Approved 🆗

#448 fix: 트래킹 툴 스크립트 Id 변경
  app/analyzers/clarity.tsx
Labels: fix, Approved 🆗

#449 chore: 온보딩 동작을 수정 및 추가합니다.
  app/on-boarding/page.tsx
  features/on-boarding/components/molecules/steps.tsx
  features/on-boarding/hooks/use-progress-indicator.tsx
  hooks/index.ts
  hooks/use-swipe.tsx
Labels: chore, Approved 🆗

#451 feat: 인사말 api 연결
  app/api/greeting/route.ts
  features/main/components/calendar/organisms/user-calendar-profile.tsx
  hooks/apis/index.ts
  hooks/apis/use-greeting-text.ts
Labels: feat, Approved 🆗
