Repository depromeet/Swimie-Web, pull requests merged in 2024-08, with the labels that each got.

#66 design: 메인 페이지 프로필 마크업 추가
  app/page.tsx
  public/images/swimie-character.svg
Labels: design, Approved 🆗

#73 feat: 토큰 관련 기능을 구현합니다.
  .gitignore
  apis/client-cookie.ts
  apis/fetch-data.ts
  apis/refresh-token.ts
  apis/server-cookie.ts
  app/api/google/oauth/route.ts
  app/api/kakao/oauth/route.ts
  app/api/pool/search/initial/route.ts
  app/google/oauth/page.tsx
  app/kakao/oauth/page.tsx
  app/login/page.tsx
  app/pool/search/initial/page.tsx
  components/atoms/icons/apple-logo-icon.tsx
  components/atoms/icons/google-logo-icon.tsx
  components/atoms/icons/kakao-logo-icon.tsx
  middleware.ts
  package.json
  pnpm-lock.yaml
Labels: feat, Approved 🆗

#75 feat: accessToken을 fetchData 내부에서 불러옵니다.
  apis/fetch-data.ts
  app/api/pool/search/initial/route.ts
Labels: feat, refactor, Review Plz🙏

#76 chore: fetchData에 타입을 넣습니다.
  apis/fetch-data.ts
Labels: chore, refactor, Review Plz🙏

#77 fix: bearer를 삭제합니다.
  apis/fetch-data.ts
  app/api/pool/search/initial/route.ts
Labels: fix, Review Plz🙏

#68 feat: 수영 거리 기록 작성 로직을 구현하였습니다.
  components/atoms/icons/delete-icon.tsx
  components/atoms/icons/index.ts
  features/record/components/atoms/delete-photo-icon.tsx
  features/record/components/molecules/distance-field-with-badge.tsx
  features/record/components/molecules/equipment-select-box.tsx
  features/record/components/molecules/index.ts
  features/record/components/molecules/select-box.tsx
  features/record/components/organisms/diary-section.tsx
  features/record/components/organisms/distance-page-modal.tsx
  features/record/components/organisms/equipment-section.tsx
  features/record/components/organisms/form.tsx
  features/record/components/organisms/photo-section.tsx
  features/record/components/organisms/stroke-distance-fields.tsx
  features/record/constants/index.ts
  features/record/constants/stroke-options.ts
  features/record/hooks/use-distance-page-modal.tsx
  features/record/hooks/use-sub-info-text-fields.tsx
  features/record/index.ts
  package.json
  pnpm-lock.yaml
  utils/index.ts
  utils/resize-image.ts
Labels: feat, Approved 🆗

#80 fix: 반영이 안된 부분 merge 하기 위해 PR 다시 올립니다.
  components/atoms/accordion/accordion.tsx
  components/atoms/accordion/index.ts
  components/atoms/index.ts
  features/record/components/organisms/diary-section.tsx
  features/record/components/organisms/form.tsx
  features/record/components/organisms/index.ts
  features/record/components/organisms/lane-length-bottom-sheet.tsx
  features/record/components/organisms/sub-info-section.tsx
  features/record/components/organisms/sub-info-text-fields.tsx
  features/record/components/organisms/time-bottom-sheet.tsx
  features/record/hooks/index.ts
  features/record/hooks/use-get-browser-width.tsx
  features/record/hooks/use-sub-info-text-fields.tsx
  features/record/store/bottom-sheet.ts
  features/record/styles/time-picker.css
  package.json
  pnpm-lock.yaml
Labels: fix, Approved 🆗

#82 feat: 수영장 즐겨찾기 기능을 구현합니다.
  apis/fetch-data.ts
  app/api/pool/favorite/route.ts
  app/api/pool/search/initial/route.ts
  components/atoms/icons/star-icon-fill.tsx
  components/atoms/icons/star-icon.tsx
  features/record/apis/use-search-pool.ts
  features/record/apis/use-toggle-favorite.ts
  features/record/components/molecules/pool-search-result-element.tsx
  features/record/components/organisms/pool-search-result-list.tsx
Labels: feat, Approved 🆗

#81 feat: 수영장 검색 관련 기능들을 구현합니다.
  apis/fetch-data.ts
  app/api/pool/favorite/route.ts
  app/api/pool/search/initial/route.ts
  app/api/pool/search/route.ts
  components/atoms/icons/star-icon-fill.tsx
  components/atoms/icons/star-icon.tsx
  components/molecules/search-bar/search-bar.tsx
  features/record/apis/dto/pool-search.ts
  features/record/apis/index.ts
  features/record/apis/use-search-pool-initial.ts
  features/record/apis/use-search-pool.ts
  features/record/apis/use-toggle-favorite.ts
  features/record/components/molecules/pool-search-result-element.tsx
  features/record/components/organisms/pool-search-page-modal.tsx
  features/record/components/organisms/pool-search-result-list.tsx
  features/record/hooks/index.ts
  features/record/hooks/use-pool-search-page-modal.tsx
  package.json
  pnpm-lock.yaml
Labels: feat, Approved 🆗

#83 feat: 수영 기록 기능을 구현합니다.
  app/api/image/presigned/route.ts
  app/api/memory/route.ts
  app/record/success/page.tsx
  components/atoms/icons/index.ts
  components/atoms/icons/success-check-icon.tsx
  features/record/apis/dto/image-presign.ts
  features/record/apis/dto/index.ts
  features/record/apis/dto/memory.ts
  features/record/apis/dto/record.ts
  features/record/apis/index.ts
  features/record/apis/use-image-presigned-url.ts
  features/record/apis/use-memory.ts
  features/record/components/molecules/pool-search-result-element.tsx
  features/record/components/organisms/diary-section.tsx
  features/record/components/organisms/distance-page-modal.tsx
  features/record/components/organisms/equipment-section.tsx
  features/record/components/organisms/form.tsx
  features/record/components/organisms/photo-section.tsx
  features/record/hooks/use-sub-info-text-fields.tsx
  features/record/store/form-sub-info.ts
Labels: feat, Approved 🆗

#84 feat: 로그인 origin 설정
  app/api/google/oauth/route.ts
  app/api/kakao/oauth/route.ts
Labels: chore, feat, Approved 🆗

#85 fix: 소셜 로그인 페이지를 동적 임포트로 불러옵니다.
  app/google/oauth/index.tsx
  app/google/oauth/page.tsx
  app/kakao/oauth/index.tsx
  app/kakao/oauth/page.tsx
Labels: fix, Review Plz🙏

#86 feat: middleware redirect 로직 추가
  middleware.ts
Labels: feat, Approved 🆗

#87 feat: middleware로 accessToken 재발급 및 리다이렉션
  middleware.ts
Labels: feat, fix, Approved 🆗

#90 fix: middleware에서 accessToken 설정 시 옵셔널 체이닝을 적용합니다.
  middleware.ts
Labels: fix, Review Plz🙏

#92 fix: 영법 이름 한글화
  constants/visualization.ts
  features/main/calendar/molecules/calendar.tsx
Labels: fix, Approved 🆗

#96 feat: favicon, meta data 수정
  app/favicon.ico
  app/layout.tsx
Labels: feat, Review Plz🙏

#97 fix: DetailStroke type 수정
  features/record-detail/components/swim-stats-item.tsx
Labels: fix, Approved 🆗

#98 fix: 다이나믹 import로 build error를 수정합니다
  app/record-detail/[id]/page.tsx
  features/record-detail/sections/detail-preview.tsx
Labels: fix, Approved 🆗, build

#100 fix: border 추가 및 divider 색상 변경
  app/layout.tsx
  components/atoms/divider/divider.tsx
  features/record/components/organisms/form.tsx
Labels: fix, Review Plz🙏

#102 feat: 달력 API 연결
  app/api/memory/calendar/route.ts
  app/page.tsx
  features/main/calendar/index.ts
  features/main/calendar/molecules/calendar.tsx
  features/main/calendar/types/index.ts
  hooks/index.ts
  hooks/use-calendar-data.ts
Labels: feat, Approved 🆗

#104 fix: 변경된 타입 경로 설정
  features/main/calendar/atoms/calendar-item-content.tsx
Labels: fix, Approved 🆗

#105 fix: 빌드 에러 수정
  features/main/calendar/atoms/calendar-item.tsx
  features/record/components/organisms/distance-page-modal.tsx
  features/record/components/organisms/pool-search-page-modal.tsx
Labels: fix, Approved 🆗

#106 feat: 캘린더 로딩 예외처리 추가
  features/main/calendar/molecules/calendar.tsx
  hooks/use-calendar-data.ts
Labels: feat, Approved 🆗

#93 feat: 이전 기록 정보 불러오는 api 연결
  app/api/pull/memory/[memoryId]/route.ts
  features/record/apis/use-pull-memory.ts
  features/record/components/organisms/form.tsx
Labels: feat, Approved 🆗

#107 fix: 헤더바 컴포넌트를 수정합니다.
  components/molecules/header-bar/header-back-button.tsx
Labels: fix, Approved 🆗

#108 feat: 달력 일자 클릭시 해당 날짜에 기록할 수 있도록 수정
  features/main/calendar/atoms/calendar-item.tsx
  features/record/components/organisms/form.tsx
  utils/date.ts
Labels: feat, Approved 🆗

#101 refactor: 쿠키 관련 사용하지 않는 코드를 삭제합니다.
  apis/client-cookie.ts
  app/api/google/oauth/route.ts
  app/api/kakao/oauth/route.ts
  app/google/oauth/index.tsx
  app/kakao/oauth/index.tsx
  app/login/login-client.tsx
  app/login/page.tsx
  app/pool/search/initial/page.tsx
  app/record-detail/[id]/page.tsx
  components/atoms/loading/loading.tsx
  store/auth.ts
  types/authType.ts
Labels: fix, refactor, Approved 🆗

#109 fix: 수정된 API 응답 데이터 타입 수정
  features/main/calendar/atoms/calendar-item-content.tsx
  features/main/calendar/types/index.ts
Labels: fix, Approved 🆗

#110 fix: 오탈자를 수정했습니다.
  app/kakao/oauth/index.tsx
Labels: fix, Approved 🆗

#111 fix: loading scale props optional 변경
  components/atoms/loading/loading.tsx
Labels: fix, Approved 🆗

#114 fix: searchparams 관련 빌드 에러 해결
  app/record/page.tsx
Labels: fix, Approved 🆗

#115 fix: item 타입에 맞게 item 유무 확인 로직 수정
  features/record-detail/sections/detail-preview.tsx
Labels: fix, Approved 🆗

#118 refactor: 여러 기록 인증 방법을 하나의 컴포넌트로 분리(이미지 제외)
  components/molecules/record-mark/index.ts
  components/molecules/record-mark/record-mark.tsx
  features/main/calendar/atoms/calendar-item-content.tsx
Labels: refactor, Approved 🆗

#116 feat: 수영 기록 과정에서 이미지 포함 시 presigned 실행 로직 구현
  app/api/image/presigned/url/route.ts
  app/api/image/status/route.ts
  features/record/apis/dto/image-status.ts
  features/record/apis/dto/index.ts
  features/record/apis/index.ts
  features/record/apis/use-get-image-presigned-url.ts
  features/record/apis/use-image-presign.ts
  features/record/apis/use-image-status.ts
  features/record/components/organisms/form.tsx
  features/record/components/organisms/photo-section.tsx
  features/record/store/form-sub-info.ts
Labels: feat, Approved 🆗

#120 chore: next.config.js의 image에 remotePatterns 적용
  next.config.mjs
Labels: chore, Approved 🆗

#123 feat: fetchData 사용 시 토큰 만료의 경우 재발급 받는 로직을 구현했습니다.
  apis/fetch-data.ts
Labels: feat, fix, Approved 🆗

#122 feat: profile 디렉토리를 생성합니다.
  app/profile/[id]/page.tsx
  app/profile/layout.tsx
  app/profile/page.tsx
Labels: feat, Approved 🆗

#124 feat: Button 컴포넌트 prop 수정 및 로그인 관련 설정을 추가했습니다.
  app/google/oauth/index.tsx
  app/kakao/oauth/index.tsx
  app/login/login-client.tsx
  components/atoms/button/button.stories.tsx
  components/atoms/button/button.tsx
  components/atoms/button/type.ts
  components/molecules/dialog/dialog.tsx
  store/auth.ts
  types/authType.ts
Labels: feat, Approved 🆗

#125 fix: 타임라인 빌드 에러 수정
  features/main/time-line/atoms/swim-record-chart.tsx
  features/main/time-line/atoms/time-line-card.tsx
  features/main/time-line/molecules/time-line.tsx
Labels: fix, Approved 🆗

#127 fix: user 관련 변수명을 수정합니다.
  app/google/oauth/index.tsx
  app/kakao/oauth/index.tsx
  store/auth.ts
  types/authType.ts
Labels: fix, Approved 🆗

#126 fix: page-modal과 기록 성공 페이지 확인 버튼에 max-width 속성 적용
  app/record/success/page.tsx
  components/molecules/page-modal/page-modal.tsx
Labels: fix, Approved 🆗

#128 fix: header에 member name을 부여합니다
  app/record-detail/[id]/layout.tsx
  app/record-detail/[id]/page.tsx
Labels: fix, Approved 🆗

#129 feat: profile follow list item 컴포넌트 마크업
  app/profile/[id]/follow/page.tsx
  components/molecules/index.ts
  components/molecules/profile-list-item/index.ts
  components/molecules/profile-list-item/profile-list-item.tsx
  features/profile-follow/components/index.ts
  features/profile-follow/index.ts
Labels: feat, Approved 🆗

#134 feat: 회원가입 로직 개발 및 Button 컴포넌트를 수정합니다.
  app/api/google/oauth/route.ts
  app/api/join/gender/route.ts
  app/api/join/nickname/route.ts
  app/google/oauth/index.tsx
  app/join/gender/page.tsx
  app/join/nickname/page.tsx
  app/kakao/oauth/index.tsx
  components/atoms/button/button.stories.tsx
  components/atoms/button/button.tsx
Labels: chore, feat, refactor, Approved 🆗

#133 feat: 각 상황별로 수영 기록 수정하는 api 연결
  app/api/image/edit/[memoryId]/route.ts
  app/api/memory/edit/[memoryId]/route.ts
  app/record/success/page.tsx
  features/record/apis/index.ts
  features/record/apis/use-image-edit.ts
  features/record/apis/use-memory-edit.ts
  features/record/apis/use-pull-edit-memory.ts
  features/record/components/organisms/form.tsx
  features/record/components/organisms/photo-section.tsx
Labels: feat, Approved 🆗

#132 feat: 수영 기록 수정 시, 이전 기록들을 기록 화면에 그대로 반영
  app/api/image/edit/[memoryId]/route.ts
  app/api/memory/[memoryId]/edit-data/route.ts
  app/api/memory/edit/[memoryId]/route.ts
  app/record/success/page.tsx
  features/record/apis/index.ts
  features/record/apis/use-image-edit.ts
  features/record/apis/use-memory-edit.ts
  features/record/apis/use-pull-edit-memory.ts
  features/record/components/organisms/distance-page-modal.tsx
  features/record/components/organisms/equipment-section.tsx
  features/record/components/organisms/form.tsx
  features/record/components/organisms/photo-section.tsx
  features/record/hooks/use-distance-page-modal.tsx
Labels: feat, Approved 🆗

#139 refactor: react-hook-form의 watch 메소드로 인해 발생하는 불필요한 re-rendering 해결
  app/api/memory/edit/[memoryId]/route.ts
  app/api/memory/route.ts
  app/record/success/page.tsx
  components/molecules/text-area/text-area.tsx
  components/molecules/text-field/index.ts
  components/molecules/text-field/select-text-field.tsx
  components/molecules/text-field/style.ts
  components/molecules/text-field/text-field.tsx
  components/molecules/text-field/type.ts
  components/molecules/text-field/use-text-field.tsx
  features/record/apis/dto/record.ts
  features/record/apis/index.ts
  features/record/apis/use-memory-edit.ts
  features/record/apis/use-memory.ts
  features/record/components/molecules/pool-search-result-element.tsx
  features/record/components/organisms/diary-section.tsx
  features/record/components/organisms/distance-page-modal.tsx
  features/record/components/organisms/form.tsx
  features/record/components/organisms/lane-length-bottom-sheet.tsx
  features/record/components/organisms/sub-info-text-fields.tsx
  features/record/components/organisms/time-bottom-sheet.tsx
  features/record/hooks/index.ts
  features/record/hooks/use-distance-page-modal.tsx
  features/record/hooks/use-sub-info-text-fields.tsx
  features/record/store/form-sub-info.ts
  utils/date.ts
Labels: refactor, Approved 🆗

#141 fix: accessToken 재발급 시 undefined 생성 건을 수정했습니다.
  apis/fetch-data.ts
  app/login/login-client.tsx
  components/atoms/button/button.stories.tsx
  components/atoms/button/button.tsx
  middleware.ts
Labels: fix, Approved 🆗

#142 fix: 빌드 에러 해결
  features/record/components/organisms/form.tsx
Labels: fix, Approved 🆗

#146 fix: 구글 소셜 로그인을 디버깅합니다.
  app/login/login-client.tsx
Labels: fix, Review Plz🙏

#152 fix: 공통 컴포넌트 Tab의 스타일링을 수정합니다.
  components/molecules/tab/tab.tsx
Labels: fix, Approved 🆗

#150 feat: profile 페이지 마크업을 진행했습니다.
  app/api/google/oauth/route.ts
  app/google/oauth/index.tsx
  app/profile/page.tsx
  components/atoms/icons/badge-icon.tsx
  components/atoms/icons/statistics-icon.tsx
  components/atoms/icons/user-image-icon.tsx
Labels: feat, Approved 🆗

#149 fix: time-picker가 PC에서 왼쪽으로 치우쳐지는 현상 수정
  features/record/components/organisms/time-bottom-sheet.tsx
Labels: fix, Approved 🆗

#148 feat: 여러 상황에 유연하게 대처하기 위한 header-bar 컴포넌트 재생성
  app/join/gender/page.tsx
  app/join/nickname/page.tsx
  app/page.tsx
  app/profile/[id]/follow/layout.tsx
  app/record-detail/[id]/page.tsx
  app/record/page.tsx
  components/atoms/icons/bell-icon.tsx
  components/atoms/icons/index.ts
  components/atoms/icons/logo-icon.tsx
  components/atoms/icons/setting-icon.tsx
  components/molecules/header-bar/header-bar.tsx
  components/molecules/header-bar/header-logo-button.tsx
  components/molecules/header-bar/index.ts
  components/molecules/header-bar/type.ts
  features/record/components/organisms/distance-page-modal.tsx
  features/record/components/organisms/pool-search-page-modal.tsx
Labels: feat, Approved 🆗

#154 fix: header-bar 컴포넌트에 max-width 설정
  components/molecules/header-bar/header-bar.tsx
Labels: fix, Approved 🆗

#158 feat: usePreventBodyScroll hook 구현 및 적용
  hooks/index.ts
  hooks/use-bottom-sheet.ts
  hooks/use-dialog.ts
  hooks/use-modal.ts
  hooks/use-prevent-body-scroll.ts
Labels: feat, Approved 🆗

#160 refactor: 메인 페이지 관련 feature 폴더 정리
  app/api/memory/calendar/route.ts
  app/api/memory/timeline/route.ts
  app/page.tsx
  components/atoms/icons/index.ts
  components/molecules/record-mark/record-mark.tsx
  constants/visualization.ts
  features/main/components/calendar/atoms/calendar-item-content.tsx
  features/main/components/calendar/atoms/calendar-item.tsx
  features/main/components/calendar/atoms/day-labels.tsx
  features/main/components/calendar/atoms/index.ts
  features/main/components/calendar/atoms/move-month-button.tsx
  features/main/components/calendar/atoms/view-image-button.tsx
  features/main/components/calendar/index.ts
  features/main/components/calendar/molecules/calendar-header.tsx
  features/main/components/calendar/molecules/calendar.tsx
  features/main/components/calendar/molecules/index.ts
  features/main/components/calendar/organisms/index.ts
  features/main/components/calendar/organisms/user-calendar-profile.tsx
  features/main/components/index.ts
  features/main/components/main-tab/index.ts
  features/main/components/main-tab/main-tab.tsx
  features/main/components/time-line/atoms/card-wrapper.tsx
  features/main/components/time-line/atoms/index.ts
  features/main/components/time-line/atoms/swim-record-chart.tsx
  features/main/components/time-line/index.ts
  features/main/components/time-line/molecules/index.ts
  features/main/components/time-line/molecules/time-line-card.tsx
  features/main/components/time-line/organisms/index.ts
  features/main/components/time-line/organisms/time-line.tsx
  features/main/hooks/index.ts
  features/main/hooks/use-calendar-data.ts
  features/main/hooks/use-calendar-rendering-data.ts
  features/main/hooks/use-timeline.ts
  features/main/index.ts
  features/main/main-tab/index.ts
  features/main/types/calendar.ts
  features/main/types/index.ts
  features/main/types/time-line.ts
  hooks/index.ts
Labels: refactor, Approved 🆗

#169 fix: 메인 페이지 barrel export 빌드 에러 수정
  features/main/components/calendar/molecules/calendar.tsx
  features/main/components/time-line/organisms/time-line.tsx
  features/main/types/time-line.ts
Labels: fix, Approved 🆗

#168 fix: Button 컴포넌트의 코드를 수정했습니다.
  components/atoms/button/button.tsx
Labels: fix, Approved 🆗

#171 fix: loading 관련 아이콘 수정 및 새로 생성했습니다.
  components/atoms/button/button.tsx
  components/atoms/icons/loading-button-icon.tsx
  components/atoms/icons/loading-icon.tsx
Labels: fix, Approved 🆗

#170 fix: 무한 회원가입 버그를 수정했습니다.
  app/google/oauth/index.tsx
  app/kakao/oauth/index.tsx
  types/authType.ts
Labels: fix, Approved 🆗

#161 fix: 기록 생성 시 PC 모드에서 사진이 틀 밖으로 나오는 현상 수정
  features/record/components/organisms/photo-section.tsx
Labels: fix, Approved 🆗

#162 fix: 수영 거리 기록 page-modal에 누락된 props 전달 및 스타일 수정
  features/record/components/atoms/select-element.tsx
  features/record/components/organisms/distance-page-modal.tsx
  features/record/components/organisms/form.tsx
  features/record/components/organisms/lane-length-bottom-sheet.tsx
  features/record/components/organisms/sub-info-text-fields.tsx
  features/record/constants/index.ts
  features/record/constants/lane.ts
  features/record/hooks/use-distance-page-modal.tsx
  features/record/store/form-sub-info.ts
Labels: fix, Approved 🆗

#164 chore: 수영 거리 기록 로직과 관련된 routing 수정
  app/record/success/page.tsx
  features/record/components/organisms/form.tsx
Labels: feat, Approved 🆗

#172 feat: 애플 로그인 관련 로직을 작업합니다.
  app/api/apple/oauth/route.ts
  app/apple/oauth/index.tsx
  app/apple/oauth/page.tsx
Labels: feat, Approved 🆗

#173 fix: 사파리에서 로컬 환경일 때 소셜 로그인 진행 시 쿠키가 심기지 않는 버그를 수정했습니다.
  apis/server-cookie.ts
Labels: fix, Approved 🆗

#176 chore: variable -> static font로 변경
  assets/fonts/Pretendard/Pretendard-Black.woff
  assets/fonts/Pretendard/Pretendard-Bold.woff
  assets/fonts/Pretendard/Pretendard-ExtraBold.woff
  assets/fonts/Pretendard/Pretendard-ExtraLight.woff
  assets/fonts/Pretendard/Pretendard-Light.woff
  assets/fonts/Pretendard/Pretendard-Medium.woff
  assets/fonts/Pretendard/Pretendard-Regular.woff
  assets/fonts/Pretendard/Pretendard-SemiBold.woff
  assets/fonts/Pretendard/Pretendard-Thin.woff
  assets/fonts/Pretendard/PretendardVariable.woff2
  styles/font.ts
Labels: chore, Approved 🆗

#177 fix: 사파리에서 달력 화살표가 돌아가는 현상 수정
  components/atoms/icons/index.ts
  components/atoms/icons/triangle-arrow-icon-reverse.tsx
  components/atoms/icons/triangle-arrow-icon.tsx
  components/atoms/icons/types.ts
  features/main/components/calendar/atoms/move-month-button.tsx
  features/main/components/calendar/molecules/calendar-header.tsx
Labels: fix, Approved 🆗

#182 fix: 버튼의 아이콘 props type을 reactNode로 수정했습니다.
  components/atoms/button/button.stories.tsx
  components/atoms/button/button.tsx
  components/atoms/button/type.ts
Labels: fix, Approved 🆗

#180 chore: 가록 페이지에서 select-text-field의 cursor를 pointer로 설정
  components/molecules/text-field/select-text-field.tsx
Labels: chore, Approved 🆗

#178 fix: 기록 페이지에서 끝 시간 select-text-field의 label 제거
  features/record/components/organisms/form.tsx
Labels: fix, Approved 🆗

#174 refactor: form 관련 세부 로직 custom-hook으로 관리 / 로딩 상태 추가 / warning 해결
  components/molecules/page-modal/page-modal.tsx
  components/molecules/text-field/select-text-field.tsx
  components/molecules/text-field/type.ts
  features/record/components/organisms/form.tsx
  features/record/components/organisms/lane-length-bottom-sheet.tsx
  features/record/components/organisms/time-bottom-sheet.tsx
  features/record/hooks/index.ts
  features/record/hooks/use-record-form.tsx
Labels: refactor, Approved 🆗

#191 refactor: 응원하기 fab, modal section을 분리합니다
  app/record-detail/[id]/page.tsx
  features/record-detail/sections/detail-cheer-fab.tsx
  features/record-detail/sections/detail-cheer-modal.tsx
  features/record-detail/sections/index.ts
Labels: refactor, Approved 🆗

#183 feat: profile 페이지 마크업을 진행했습니다.
  app/api/member/route.ts
  app/api/profile/[memberId]/route.ts
  app/profile/[id]/page.tsx
  features/profile/components/atoms/follow-button.tsx
  features/profile/components/atoms/index.ts
  features/profile/components/organisms/index.ts
  features/profile/components/organisms/my-page.tsx
  features/profile/components/organisms/other-page.tsx
  types/profileType.ts
Labels: feat, Approved 🆗

#193 refactor: fetchData 함수에 매개변수 추가
  apis/fetch-data.ts
Labels: refactor, Approved 🆗

#194 chore: 기록 수정 완료 시 기록 상세 페이지가 업데이트 되도록 revalidateTag 설정
  app/record-detail/[id]/page.tsx
  features/record/apis/use-memory-edit.ts
  features/record/components/organisms/form.tsx
  features/record/index.ts
  features/record/server-actions/index.ts
  features/record/server-actions/revalidate-record-detail.ts
Labels: chore, Approved 🆗

#198 fix: 잘못한 commit 수정합니다.
  features/profile/components/organisms/other-page.tsx
Labels: fix, Review Plz🙏

#200 chore: 장비 section에 각 장비에 맞는 이미지 연결
  features/record-detail/components/swim-tool-item.tsx
  features/record/components/molecules/equipment-select-box.tsx
  features/record/components/organisms/equipment-section.tsx
Labels: chore, Approved 🆗

#202 fix: gnb의 placeholder dom 설정
  components/molecules/global-navigation-bar/global-navigation-bar.tsx
Labels: fix, Approved 🆗

#204 fix: 잘못 변경된 수영 도구 사진 size 수정
  features/record-detail/components/swim-tool-item.tsx
  features/record/components/molecules/equipment-select-box.tsx
Labels: fix, Review Plz🙏

#206 feat: 기록 상세 페이지 meta data 추가
  app/record-detail/[id]/page.tsx
Labels: Review Plz🙏

#208 feat: meta tag image 추가
  app/layout.tsx
  public/images/meta-tag.png
Labels: feat

#210 fix: input의 type이 number일 때 자동으로 생기는 화살표 제거
  components/molecules/text-field/text-field.tsx
Labels: fix, Approved 🆗

#209 fix: 마이페이지 padding 버그 수정 및 GNB를 추가합니다.
  app/profile/[id]/page.tsx
  features/profile/components/organisms/index.ts
  features/profile/components/organisms/my-page.tsx
  features/profile/components/organisms/other-page.tsx
  features/profile/components/organisms/profile-container.tsx
  features/profile/index.ts
  features/profile/types/profile.ts
Labels: feat, fix, Approved 🆗

#223 fix: 기록 생성 or 수정에서 이미 한번 버튼을 눌렀다면 다시 눌렀을 때 api 요청 막음 처리
  features/record/components/organisms/form.tsx
Labels: fix, Approved 🆗

#225 design: 당겨서 새로고침 마크업 추가
  components/atoms/index.ts
  components/atoms/loading/loading.tsx
  components/atoms/pull-to-refresh/index.ts
  components/atoms/pull-to-refresh/pull-to-refresh.tsx
  features/news/components/organisms/news-list.tsx
Labels: design, Approved 🆗

#220 feat: 프로필 이미지 선택 기능을 구현합니다.
  features/profile/components/atoms/default-profile.tsx
  features/profile/components/organisms/profile-edit-form.tsx
  features/profile/components/organisms/profile-edit-image-section.tsx
  features/profile/components/organisms/profile-image-bottom-sheet.tsx
  features/profile/hooks/index.ts
  features/profile/hooks/use-profile-edit-form.tsx
  features/profile/hooks/use-profile-image-bottom-sheet.tsx
  features/profile/index.ts
  features/profile/type/index.ts
  features/profile/type/profile-edit-image.ts
Labels: feat, Approved 🆗

#217 feat: 프로필 선택 바텀 시트 마크업을 생성합니다.
  components/atoms/icons/album-icon.tsx
  components/atoms/icons/index.ts
  features/profile/components/atoms/default-profile.tsx
  features/profile/components/atoms/index.ts
  features/profile/components/atoms/open-album-button.tsx
  features/profile/components/organisms/index.ts
  features/profile/components/organisms/profile-edit-form.tsx
  features/profile/components/organisms/profile-edit-image-section.tsx
  features/profile/components/organisms/profile-image-bottom-sheet.tsx
  features/profile/hooks/index.ts
  features/profile/hooks/use-profile-edit-form.tsx
  features/profile/hooks/use-profile-image-bottom-sheet.tsx
  features/profile/index.ts
  features/profile/type/index.ts
  features/profile/type/profile-edit-image.ts
  public/images/default-profile/blue-hat.png
  public/images/default-profile/green-hat.png
  public/images/default-profile/index.ts
  public/images/default-profile/orange-hat.png
  public/images/default-profile/yellow-hat.png
Labels: feat, Approved 🆗

#216 feat: 프로필 이미지 편집 기능을 구현합니다.
  app/api/image/profile/presigned/url/route.ts
  app/api/image/profile/url/route.ts
  components/atoms/icons/album-icon.tsx
  components/atoms/icons/index.ts
  features/profile/apis/dto/index.ts
  features/profile/apis/dto/profile-image-presign.ts
  features/profile/apis/dto/profile-image-url-done.ts
  features/profile/apis/index.ts
  features/profile/apis/use-get-profile-image-presigned-url.ts
  features/profile/apis/use-profile-image-url-done.ts
  features/profile/components/atoms/default-profile.tsx
  features/profile/components/atoms/index.ts
  features/profile/components/atoms/open-album-button.tsx
  features/profile/components/organisms/index.ts
  features/profile/components/organisms/profile-edit-form.tsx
  features/profile/components/organisms/profile-edit-image-section.tsx
  features/profile/components/organisms/profile-image-bottom-sheet.tsx
  features/profile/hooks/index.ts
  features/profile/hooks/use-profile-edit-form.tsx
  features/profile/hooks/use-profile-image-bottom-sheet.tsx
  features/profile/index.ts
  features/profile/type/index.ts
  features/profile/type/profile-edit-image.ts
  public/images/default-profile/blue-hat.png
  public/images/default-profile/green-hat.png
  public/images/default-profile/index.ts
  public/images/default-profile/orange-hat.png
  public/images/default-profile/yellow-hat.png
Labels: feat, Approved 🆗

#232 design: 달력 헤더의 달 이동 버튼 간격 수정
  features/main/components/calendar/molecules/calendar-header.tsx
Labels: design, Approved 🆗

#233 fix: 잘못된 영법별 시각화 색상 변경
  constants/visualization.ts
  features/main/components/time-line/atoms/swim-record-chart.tsx
  styles/colors.ts
Labels: fix, Approved 🆗

#219 feat: setting 페이지 마크업 및 기능(목표 거리 수정 / 탈퇴 / 로그아웃)을 구현했습니다.
  app/api/goal/route.ts
  app/api/logout/route.ts
  app/api/member/route.ts
  app/change-distance/page.tsx
  app/delete-account/index.tsx
  app/delete-account/page.tsx
  app/setting/page.tsx
  components/atoms/button/button.stories.tsx
  components/atoms/icons/badge-icon.tsx
  components/atoms/icons/index.ts
  components/atoms/icons/loading-button-icon.tsx
  components/atoms/icons/normal-shape-icon.tsx
  components/atoms/icons/statistics-icon.tsx
  features/profile/components/organisms/my-page.tsx
  features/profile/components/organisms/other-page.tsx
  features/profile/components/organisms/profile-container.tsx
  features/setting/apis/index.ts
  features/setting/apis/use-logout.ts
  features/setting/apis/use-member-data.ts
  features/setting/components/atom/index.ts
  features/setting/components/atom/list-item.tsx
  features/setting/components/atom/setting-distance-icon.tsx
  features/setting/components/atom/setting-empty-icon.tsx
  features/setting/components/index.ts
  features/setting/components/organisms/index.ts
  features/setting/components/organisms/setting-calendar.tsx
  features/setting/components/organisms/step-1.tsx
  features/setting/components/organisms/step-2.tsx
  features/setting/components/organisms/step-3.tsx
  features/setting/hooks/index.ts
  features/setting/hooks/use-logout-dialog-handler.ts
  features/setting/hooks/use-save-dialog-handler.ts
  store/index.ts
  store/text.ts
Labels: feat, refactor, Approved 🆗

#239 fix: 존재하지 않는 파일 export 제거
  features/setting/apis/index.ts
Labels: fix, Approved 🆗

#228 chore: ios 에서 type number인 input 작성 시 숫자 키보드가 뜰 수 있게끔 설정
  components/molecules/text-field/text-field.tsx
Labels: chore, Approved 🆗

#229 chore: 수영 거리 페이지 모달에서 버튼에 safe-area 설정
  features/record/components/organisms/distance-page-modal.tsx
Labels: chore, Approved 🆗

#238 chore: 수영 거리 입력 완료 시 나타나는 버튼 텍스트 수정
  features/record/hooks/use-distance-page-modal.tsx
Labels: chore, Approved 🆗

#237 design: 수영 검색 텍스트와 일치하는 부분을 highlight 되도록 디자인을 수정합니다.
  features/record/components/molecules/pool-search-result-element.tsx
  features/record/components/organisms/pool-search-page-modal.tsx
  features/record/components/organisms/pool-search-result-list.tsx
  features/record/index.ts
  features/record/utils/highlight-text.tsx
  features/record/utils/index.ts
  features/record/utils/remove-special-symbols.ts
  hooks/revalidateCurrentMemberInfo.ts
Labels: design, Approved 🆗

#241 fix: modal style 변경
  components/molecules/modal/modal.tsx
Labels: style, fix, Approved 🆗

#242 feat: meta tag image 변경
  public/images/meta-tag.png
Labels: feat, Approved 🆗

#243 feat: viewport metatag 추가
  app/layout.tsx
Labels: feat, Approved 🆗

#240 chore: 빌드테스트 액션 추가
  .github/workflows/build-test.yml
Labels: chore, Approved 🆗

#255 fix: css code generate 추가
  .github/workflows/build-test.yml
Labels: fix, Approved 🆗

#247 feat: 라우팅 이동 시에 출력되는 loading UI를 추가합니다
  app/loading.tsx
Labels: feat, Approved 🆗

#256 feat: 알림 읽음 처리 기능 구현
  app/api/notification/read/route.ts
  app/notification/page.tsx
  features/notification/apis/dto/notification.ts
  features/notification/apis/use-read-notification.tsx
  features/notification/components/molecules/notification-element.tsx
Labels: feat, Approved 🆗

#253 feat: 알림 api를 연결합니다.
  app/api/notification/read/route.ts
  app/api/notification/route.ts
  app/notification/page.tsx
  features/news/components/organisms/news-list.tsx
  features/notification/apis/dto/index.ts
  features/notification/apis/dto/notification.ts
  features/notification/apis/index.ts
  features/notification/apis/use-get-notification.tsx
  features/notification/apis/use-read-notification.tsx
  features/notification/components/molecules/notification-element.tsx
  features/notification/components/organisms/notification-list.tsx
  features/notification/index.ts
  features/notification/type.ts
  features/notification/types/index.ts
  features/notification/types/notification.ts
  utils/date.ts
Labels: feat, Approved 🆗

#248 feat: 마이페이지에서 팔로우/팔로잉 기능을 구현합니다.
  app/api/friend/[memberId]/route.ts
  app/api/friend/route.ts
  app/profile/[id]/page.tsx
  components/atoms/icons/badge-icon.tsx
  components/atoms/icons/statistics-icon.tsx
  features/profile/apis/fetch-following-data.ts
  features/profile/apis/fetch-profile-data.ts
  features/profile/apis/index.ts
  features/profile/components/atoms/follow-button.tsx
  features/profile/components/organisms/my-page.tsx
  features/profile/components/organisms/other-page.tsx
  features/profile/components/organisms/profile-container.tsx
  features/profile/components/organisms/profile-edit-image-section.tsx
  features/profile/components/organisms/profile-image-bottom-sheet.tsx
  features/profile/hooks/index.ts
  features/profile/hooks/use-follow.ts
  features/profile/hooks/use-following-data.tsx
  features/profile/hooks/use-profile-data.tsx
  features/profile/index.ts
  features/profile/type/index.ts
  features/profile/types/follow.ts
  features/profile/types/index.ts
  features/profile/types/profile-edit-image.ts
Labels: feat, Approved 🆗

#258 chore: 빌드 테스트 캐싱중 해싱 파일 이름 변경
  .github/workflows/build-test.yml
Labels: chore, Review Plz🙏

#249 feat: 소식 페이지 API 및 무한 스크롤 추가
  app/api/news/route.ts
  features/main/components/time-line/organisms/time-line.tsx
  features/news/components/organisms/news-list.tsx
  features/news/hooks/index.ts
  features/news/hooks/use-news-data.ts
  features/news/types/index.ts
Labels: feat, Review Plz🙏

#257 feat: 당겨서 새로고침시 새롭게 소식 데이터를 불러오는 기능 추가
  features/news/components/organisms/news-list.tsx
Labels: feat, Review Plz🙏

#261 fix: no-floating-promises lint error 수정
  features/news/components/organisms/news-list.tsx
Labels: fix, Approved 🆗

#262 chore: 프로필 편집 라우팅 추가
  features/profile/components/organisms/my-page.tsx
Labels: chore, Approved 🆗

#260 feat: 헤더바 설정 아이콘 라우팅 추가 및 기존 아이콘 변경했습니다.
  app/page.tsx
  app/profile/[id]/page.tsx
  app/setting/page.tsx
  components/molecules/header-bar/header-bar-setting-button.tsx
  components/molecules/header-bar/index.ts
Labels: feat, Approved 🆗

#263 chore: 정규식 한글 허용
  features/record/utils/remove-special-symbols.ts
Labels: chore, Review Plz🙏

#264 fix: vh -> dvh로 수정
  components/molecules/page-modal/page-modal.tsx
Labels: fix, Review Plz🙏

#265 fix: 무한 설정 페이지 버그 수정합니다.
  app/change-distance/page.tsx
  app/setting/page.tsx
Labels: fix, Approved 🆗

#270 refactor: 마크업 수정 및 기존 코드를 배열로 리팩토링했습니다.
  app/api/delete/route.ts
  app/setting/page.tsx
  features/setting/components/organisms/step-1.tsx
  features/setting/components/organisms/step-2.tsx
  features/setting/components/organisms/step-3.tsx
  store/index.ts
  store/text.ts
  store/withdrawal-reason.ts
  store/withdrawal-text.ts
Labels: refactor, Approved 🆗

#267 feat: follow tab query change event 변경
  features/follow/sections/follow-tab.tsx
Labels: feat, Approved 🆗

#268 feat: 회원가입 완료 페이지를 작업합니다.
  app/join/finish/page.tsx
  app/join/gender/page.tsx
  app/join/nickname/page.tsx
  public/images/login/login-success-character.png
Labels: feat, Approved 🆗

#284 feat: search page 동선 추가
  features/news/components/atoms/find-member-button.tsx
Labels: feat, Approved 🆗

#283 chore: introduction 예외처리
  features/profile/components/organisms/profile-edit-form.tsx
  features/profile/components/organisms/profile-edit-image-section.tsx
Labels: chore, Approved 🆗

#285 fix: introduction 타입 옵셔널로 수정
  features/profile/components/organisms/profile-edit-form.tsx
  features/profile/types/profile.ts
Labels: fix, Approved 🆗

#287 feat: 스플래시를 구현합니다
  app/api/apple/oauth/route.ts
  app/apple/oauth/index.tsx
  app/login/login-client.tsx
  features/login/components/organisms/index.ts
  features/login/components/organisms/logo-splash.tsx
  features/login/index.ts
  public/images/login/login-main-character.png
  public/images/login/swimie-letter-logo.png
  public/images/login/swimie-logo.png
Labels: feat, Approved 🆗

#290 chore: 수영 기록 생성 성공 시 텍스트 수정
  app/record/success/page.tsx
Labels: chore, Approved 🆗

#293 feat: 탈퇴 기능을 구현합니다.
  app/api/withdrawal/route.ts
  features/setting/apis/use-delete-account.ts
  features/setting/apis/use-post-withdrawal.ts
  features/setting/components/organisms/step-2.tsx
  features/setting/components/organisms/step-3.tsx
  features/setting/index.ts
  features/setting/types/delete.ts
  features/setting/types/index.ts
  features/setting/types/withdrawal.ts
Labels: feat, Approved 🆗

#288 design: 스플래시 마크업을 수정했습니다.
  app/api/apple/oauth/route.ts
  app/apple/oauth/index.tsx
  app/login/login-client.tsx
  public/images/login/login-main-character.png
  types/authType.ts
Labels: design, Approved 🆗

#278 feat: 소식 페이지 헤더중 팔로잉 목록 이동 버튼을 위한 API 추가
  app/api/friend/following/summary/route.ts
  features/news/components/atoms/following-list-link-button.tsx
  features/news/components/molecules/news-item-wrapper.tsx
  features/news/components/organisms/news-list.tsx
  features/news/hooks/index.ts
  features/news/hooks/use-following-summary.ts
  features/news/types/index.ts
Labels: feat, Approved 🆗

#294 fix: user 값을 옵셔널 처리합니다.
  app/api/apple/oauth/route.ts
Labels: fix

#296 fix: 바퀴 수로 기록시 타임라인 차트가 뜨지 않는 현상 수정
  constants/visualization.ts
  features/main/types/calendar.ts
Labels: fix, Approved 🆗

#298 feat: 달력에서 미래 날짜에 대해 클릭하지 못하도록 설정
  features/main/components/calendar/atoms/calendar-item.tsx
  features/main/components/calendar/molecules/calendar.tsx
  features/main/hooks/use-calendar-rendering-data.ts
Labels: feat, Approved 🆗

#301 fix: 바뀐 스펙에 맞게 필드 이름 수정
  features/news/components/molecules/news-item-wrapper.tsx
  features/news/components/organisms/news-list.tsx
Labels: fix, Approved 🆗

#292 feat: 타인 calendar 조회 기능
  app/api/friend/route.ts
  app/api/memory/calendar/route.ts
  app/profile/[id]/page.tsx
  components/molecules/cheer/cheer-bottom-sheet.tsx
  components/molecules/cheer/cheer-item.tsx
  components/molecules/cheer/cheer-progress.tsx
  components/molecules/cheer/index.ts
  components/molecules/index.ts
  components/molecules/profile-list/profile-list-item.tsx
  components/molecules/profile-list/profile-list.tsx
  features/follow/apis/use-follower-list.tsx
  features/follow/apis/use-following-list.tsx
  features/main/components/calendar/molecules/calendar.tsx
  features/main/hooks/use-calendar-data.ts
  features/profile-search/apis/use-profile-search.tsx
  features/profile/apis/fetch-following-data.ts
  features/profile/components/atoms/follow-button.tsx
  features/profile/components/organisms/other-page.tsx
  features/profile/hooks/use-following-data.tsx
  features/profile/types/follow.ts
  features/profile/types/index.ts
  features/record-detail/components/index.ts
  features/record-detail/sections/detail-cheer-fab.tsx
  features/record-detail/sections/detail-cheer-modal.tsx
  hooks/apis/index.ts
  hooks/apis/use-follow-mutate.ts
  hooks/apis/use-following-state.ts
  hooks/index.ts
  hooks/use-cheer-bottom-sheet.ts
  store/index.ts
  store/member-following.ts
Labels: feat, Approved 🆗

#303 refactor: cheer validation 로직을 공통화합니다.
  app/api/memory/reaction/route.ts
  features/record-detail/apis/index.ts
  features/record-detail/sections/detail-cheer-fab.tsx
  hooks/apis/index.ts
  hooks/apis/use-cheer-eligibility.ts
  hooks/apis/use-cheer.ts
  hooks/use-cheer-bottom-sheet.ts
Labels: refactor, Approved 🆗

#306 feat: 소식 아이템의 프로필 클릭시 유저 페이지로 이동
  features/news/components/molecules/news-item-wrapper.tsx
Labels: feat, Approved 🆗

#308 feat: 애플 로그인 구현을 위한 테스트를 합니다.
  app/apple/oauth/index.tsx
  app/layout.tsx
  app/login/login-client.tsx
  global.d.ts
Labels: feat

#309 style: image wrapper 스타일 변경
  app/login/login-client.tsx
Labels: style, Review Plz🙏

#310 fix: 남의 캘린더 조회 수정
  features/main/components/calendar/molecules/calendar.tsx
Labels: fix, Review Plz🙏

#312 feat: 애플 로그인 구현 테스트 합니다.
  app/api/apple/oauth/route.ts
  app/apple/oauth/index.tsx
  app/login/login-client.tsx
  global.d.ts
Labels: feat

#314 feat: 애플 로그인 구현 테스트 합니다.
  app/api/apple/oauth/route.ts
  app/apple/oauth/index.tsx
Labels: fix

#313 chore: 기록 후 다음 기록 시 이전 기록에 있던 사진이 그대로 올라가는 현상 수정
  features/record/components/organisms/form.tsx
Labels: chore, Approved 🆗

#322 design: 마이페이지 스켈레톤 구현
  app/api/friend/route.ts
  app/profile/[id]/page.tsx
  features/profile/components/index.ts
  features/profile/components/molecules/index.ts
  features/profile/components/molecules/profile-container-skeleton.tsx
  features/profile/components/organisms/profile-container.tsx
  features/profile/types/follow.ts
  features/setting/hooks/use-delete-dialog-handler.ts
Labels: design, Approved 🆗

#319 feat: 알림 페이지에서 팔로잉 상태 싱크
  features/notification/apis/use-get-notification.tsx
  features/notification/components/molecules/follow-notification.tsx
Labels: feat, Approved 🆗

#317 fix: 목표 거리 수정시 수정 사항이 반영되지 않는 현상 수정
  features/setting/components/organisms/setting-calendar.tsx
Labels: fix, Approved 🆗

#320 feat: login progress 화면을 만듭니다
  app/apple/oauth/index.tsx
  app/google/oauth/index.tsx
  app/kakao/oauth/index.tsx
  app/login/login-client.tsx
  components/atoms/loading/index.ts
  components/atoms/loading/loading-spinner.tsx
  features/login/components/organisms/index.ts
  features/login/components/organisms/login-loading.tsx
  features/login/components/organisms/login-screen.tsx
Labels: feat, Approved 🆗

#323 fix: 다른 사람의 달력에서 기록이 가능한 버그 수정
  features/main/components/calendar/atoms/calendar-item.tsx
  features/main/components/calendar/molecules/calendar.tsx
Labels: fix, Approved 🆗

#325 feat: 프로필 공유 기능 구현합니다.
  features/profile/components/organisms/my-page.tsx
Labels: feat, Approved 🆗

#331 chore: 뒤로가기 감지 훅 적용
  features/record/components/organisms/distance-page-modal.tsx
  features/record/components/organisms/pool-search-page-modal.tsx
  hooks/index.ts
  hooks/use-prevent-router-back.tsx
Labels: chore, Approved 🆗

#334 fix: 기록 수정 버그 백엔드와 타입 조정 후 수정
  features/record/components/organisms/form.tsx
Labels: fix, Approved 🆗

#336 fix: 달력 아이템 아래 총 거리 폰트 크기 원복
  features/main/components/calendar/atoms/calendar-item.tsx
Labels: fix, Approved 🆗

#333 feat: 탈퇴 시 모달이 나오게 구현했습니다.
  components/molecules/dialog/dialog.tsx
  features/setting/apis/index.ts
  features/setting/apis/use-logout.ts
  features/setting/components/organisms/step-3.tsx
  features/setting/hooks/index.ts
  features/setting/hooks/use-delete-dialog-handler.ts
  features/setting/hooks/use-logout-dialog-handler.ts
Labels: feat, Approved 🆗
