Repository depromeet/Swimie-Web, pull requests merged in 2024-09, with the labels that each got.

#356 chore: 애플 로그인 버튼을 다시 노출합니다.
  features/login/components/organisms/login-screen.tsx
Labels: chore, Review Plz🙏

#357 chore: 애플 로그인 구현 테스트
  app/api/apple/oauth/route.ts
Labels: chore, Review Plz🙏

#358 chore: 애플 로그인 구현 테스트
  app/api/apple/oauth/route.ts
  app/apple/test/index.tsx
Labels: chore

#359 feat: 애플 로그인 구현 테스트합니다.
  app/api/apple/oauth/route.ts
  features/login/components/organisms/login-screen.tsx
  global.d.ts
Labels: feat

#360 feat: 애플 로그인 구현 테스트를 합니다.
  app/api/apple/oauth/route.ts
  app/apple/oauth/index.tsx
  app/apple/oauth/page.tsx
  features/login/components/organisms/login-screen.tsx
Labels: feat, Review Plz🙏

#361 feat: 애플 로그인 구현 테스트
  app/api/apple/oauth/route.ts
  app/apple/test/index.tsx
  app/apple/test/page.tsx
  features/login/components/organisms/login-screen.tsx
  global.d.ts
Labels: feat

#362 feat: 애플 로그인 구현 테스트
  app/api/apple/oauth/route.ts
  app/apple/test/index.tsx
  features/login/components/organisms/login-screen.tsx
Labels: feat

#363 feat: 애플 로그인 구현 테스트
  app/api/apple/oauth/route.ts
  features/login/components/organisms/login-screen.tsx
Labels: feat

#364 feat: 애플 로그인 구현 테스트
  app/apple/test/index.tsx
  features/login/components/organisms/login-screen.tsx
Labels: feat

#365 fix: 원채 버전으로 수정합니다.
  app/api/apple/oauth/route.ts
  app/apple/test/index.tsx
  features/login/components/organisms/login-screen.tsx
Labels: fix, Review Plz🙏

#366 feat: 애플 로그인 구현 테스트 중
  app/api/apple/oauth/route.ts
  app/apple/test/index.tsx
  app/kakao/oauth/index.tsx
Labels: feat

#368 Feat/login
  app/apple/test/index.tsx
Labels: feat

#372 chore: 앱 심사를 위한 애플 로그인 버튼 문구 수정합니다.
  features/login/components/organisms/login-screen.tsx
Labels: chore, Review Plz🙏

#374 feat: 성별 선택하지 않기 버튼 추가합니다.
  app/join/gender/page.tsx
  components/atoms/button/button.tsx
Labels: feat, Approved 🆗

#376 chore: 임시 구글로그인 주석처리
  features/login/components/organisms/login-screen.tsx
Labels: chore, Approved 🆗

#377 chore: 서비스이용약관, 개인정보처리방침 페이지 추가
  app/setting/page.tsx
  app/setting/privacy-policy/page.tsx
  app/setting/terms/page.tsx
Labels: chore, Approved 🆗

#378 chore: 개인정보처리방침 내용 추가
  app/setting/privacy-policy/page.tsx
Labels: chore, Approved 🆗

#380 feat: 개인정보처리방침, 서비스이용약관 페이지 헤더 추가
  app/setting/privacy-policy/page.tsx
  app/setting/terms/page.tsx
Labels: feat, Approved 🆗

#381 fix: 로그아웃 로직을 변경합니다.
  features/setting/hooks/use-logout-dialog-handler.ts
Labels: fix, Approved 🆗

#383 chore: 앱 심사를 위해 미구현 영역 주석 처리합니다.
  app/setting/page.tsx
Labels: chore, Approved 🆗

#375 chore: 바퀴 수의 소수점 입력을 0.5단위로 제한합니다.
  components/molecules/text-field/form-text-field.tsx
  components/molecules/text-field/text-field.tsx
  components/molecules/text-field/type.ts
  features/record/components/molecules/distance-field-with-badge.tsx
  features/record/components/organisms/distance-page-modal.tsx
  features/record/components/organisms/sub-info-text-fields.tsx
  utils/input/index.ts
  utils/input/prevent-characters.ts
  utils/input/prevent-minus.ts
Labels: chore, Approved 🆗

#373 chore: 마이너스 기호 입력 방지 및 maxLength 설정
  components/molecules/text-field/form-text-field.tsx
  components/molecules/text-field/text-field.tsx
  components/molecules/text-field/type.ts
  features/record/components/molecules/distance-field-with-badge.tsx
  features/record/components/organisms/distance-page-modal.tsx
  features/record/components/organisms/sub-info-text-fields.tsx
  utils/input/index.ts
  utils/input/prevent-characters.ts
  utils/input/prevent-minus.ts
Labels: chore, Approved 🆗

#382 feat: 소식페이지에서 응원 이후 해당 기록 상세 페이지로 이동
  features/news/components/atoms/cheer-up-button.tsx
Labels: feat, Review Plz🙏

#384 feat: 기록할 수 없는 달력 날짜에 대한 토스트 추가
  features/main/components/calendar/atoms/calendar-item.tsx
Labels: feat, Approved 🆗

#385 fix: 기록 상세 페이지에서 목표 달성에도 그라데이션으로 보이지 않는 현상 수정
  features/record-detail/sections/detail-preview.tsx
Labels: fix, Approved 🆗

#387 feat: following, follower count 갱신
  features/profile/components/atoms/follow-button.tsx
  hooks/apis/use-following-state.ts
Labels: feat, Approved 🆗

#388 feat: button/dialog component 확장 및 적용
  components/atoms/button/button.tsx
  components/atoms/button/index.ts
  components/atoms/button/type.ts
  components/molecules/dialog/dialog.tsx
  features/record-detail/components/cheer-modal.tsx
  features/setting/hooks/use-delete-dialog-handler.ts
  features/setting/hooks/use-logout-dialog-handler.ts
  features/setting/hooks/use-notice-dialog.handler.ts
  features/setting/hooks/use-save-dialog-handler.ts
Labels: feat, Review Plz🙏

#393 feat: 특정 멤버 차단 기능을 구현합니다.
  app/api/black/route.ts
  app/profile/[id]/page.tsx
  components/molecules/dialog/dialog.stories.tsx
  features/profile/components/atoms/block-button.tsx
  features/profile/components/atoms/index.ts
  features/profile/components/molecules/index.ts
  features/profile/components/molecules/my-page-header.tsx
  features/profile/components/molecules/other-page-header.tsx
  features/profile/hooks/index.ts
  features/profile/hooks/use-block-dialog-handler.tsx
  features/profile/hooks/use-block-member.ts
Labels: feat, Approved 🆗

#395 feat: 차단 리스트 페이지를 구현합니다
  app/record-detail/[id]/page.tsx
  app/setting/blocked/page.tsx
  app/setting/page.tsx
  components/molecules/profile-list/profile-blocked-list-item.tsx
  components/molecules/profile-list/profile-list.tsx
  features/setting-blocked/components/empty-blocked-list.tsx
  features/setting-blocked/components/index.ts
  features/setting-blocked/index.ts
  features/setting-blocked/sections/blocked-list-section.tsx
  features/setting-blocked/sections/index.ts
Labels: feat, Approved 🆗

#396 feat: 신고하기 주석처리
  app/record-detail/[id]/page.tsx
  features/record-detail/components/report-bottom-sheet.tsx
Labels: feat, Approved 🆗

#397 feat: 특정 멤버 차단 api에 누락된 부분을 보충합니다.
  app/api/black/route.ts
  app/api/member/black/route.ts
  features/profile/components/atoms/block-button.tsx
  features/profile/components/molecules/other-page-header.tsx
  features/profile/hooks/use-block-dialog-handler.tsx
  features/profile/hooks/use-block-member.ts
Labels: feat, Approved 🆗

#404 design: 알림 스켈레톤 디자인 수정
  features/notification/components/organisms/notification-list-skeleton.tsx
Labels: design, Approved 🆗

#402 feat: 차단 당한 계정/차단한 계정일 경우 404 페이지로 이동합니다.
  app/profile/[id]/page.tsx
Labels: feat, Approved 🆗

#403 design: 탈퇴하기 화면에서 사파리 대응을 위해 높이 단위를 수정합니다.
  features/setting/components/organisms/step-3.tsx
Labels: design, Approved 🆗

#405 design: 차단 버튼 스타일링 추가합니다.
  features/profile/components/atoms/block-button.tsx
Labels: design, Approved 🆗

#398 feat: 기록 삭제 api를 연결합니다.
  app/api/delete/route.ts
  app/api/memory/delete/[memoryId]/route.ts
  features/record-detail/components/edit-button.tsx
  features/record/apis/dto/memory.ts
  features/record/apis/index.ts
  features/record/apis/use-delete-memory.ts
  features/record/components/atoms/delete-record-button.tsx
  features/record/components/organisms/record-header-bar.tsx
Labels: feat, Approved 🆗

#407 feat: 차단 시 마이 페이지 refetch 합니다.
  features/profile/hooks/use-block-dialog-handler.tsx
Labels: feat, Approved 🆗

#406 fix: 수영 거리가 없는 상태에서 레인 수정시, 0m 혹은 NaN이 뜨는 버그 수정
  features/record/components/organisms/form.tsx
  features/record/components/organisms/lane-length-bottom-sheet.tsx
Labels: fix, Approved 🆗

#409 chore: 누락된 cursor:pointer 스타일 추가
  components/molecules/header-bar/header-back-button.tsx
  components/molecules/menu/menu-item.tsx
  features/main/components/calendar/atoms/view-image-button.tsx
  features/record-detail/sections/detail-report-fab.tsx
  features/record/components/atoms/delete-record-button.tsx
  features/record/components/organisms/sub-info-section.tsx
  features/setting/components/atom/list-item.tsx
Labels: chore, Approved 🆗

#410 fix: 사파리 대응으로 높이 단위 수정합니다.
  features/setting/components/organisms/setting-calendar.tsx
Labels: fix, Approved 🆗

#411 feat: update app version
  app/setting/page.tsx
Labels: feat, Approved 🆗

#412 fix: 영법별 바퀴 입력 버그 수정
  features/record/hooks/use-distance-page-modal.tsx
Labels: fix, Approved 🆗

#413 chore: 이전 수영 기록 방법에 따른 디폴트 tab index 분기처리
  features/record/hooks/use-distance-page-modal.tsx
Labels: chore, Approved 🆗

#414 chore: 기록 수정 플로우 변경
  app/record/success/page.tsx
  features/record/components/organisms/form.tsx
Labels: chore, Approved 🆗

#418 fix: 애플 로그인 연타를 방지합니다.
  features/login/components/organisms/login-screen.tsx
Labels: fix, Approved 🆗

#419 feat: apple redirect 로직 추가
  app/api/apple/oauth/route.ts
Labels: feat, Review Plz🙏

#420 chore: 앱 버전 수정
  app/setting/page.tsx
Labels: chore, Approved 🆗

#422 feat: Readme 파일을 작성합니다.
  README.md
Labels: feat, Approved 🆗

#421 fix: 애플 로그인 에러 시 모달 띄웁니다.
  app/api/apple/oauth/route.ts
  features/login/components/organisms/login-screen.tsx
  features/login/hook/use-login-fail-dialog-handler.ts
Labels: fix, Review Plz🙏

#423 chore: 구글 로그인 주석 해제
  features/login/components/organisms/login-screen.tsx
Labels: chore, Approved 🆗

#426 fix: fetch에서 에러 발생시 에러 던져주는 로직 추가
  README.md
  apis/fetch-data.ts
  features/main/hooks/use-calendar-data.ts
  features/notification/apis/use-count-notification.tsx
Labels: fix, Approved 🆗

#427 design: 로그인 버튼 아래 이용 동의 문구 추가
  features/login/components/organisms/login-screen.tsx
Labels: design, Approved 🆗

#430 fix: 미래 날짜 막는 버그 수정
  features/record/utils/is-future.ts
Labels: fix, Approved 🆗

#432 fix: 총거리 색상 현재 시안으로 변경
  styles/colors.ts
Labels: fix, Approved 🆗

#434 fix: 총바퀴 수가 커질 경우 레인 변경시 NaN 발생 문제 해결
  features/record/components/organisms/lane-length-bottom-sheet.tsx
Labels: fix, Approved 🆗

#435 fix: 첫 기록 시도 시, 마지막 시간이 +50분 자동 설정될 때 바텀시트에도 반영되도록 수정
  features/record/components/organisms/form.tsx
  features/record/components/organisms/time-bottom-sheet.tsx
Labels: fix, Approved 🆗

#436 chore: 알림 클릭 시, 쌓여있는 알림들을 모두 읽음 처리로 로직 수정
  app/api/notification/read/route.ts
  features/notification/apis/use-read-notification.tsx
  features/notification/components/molecules/cheer-notification.tsx
  features/notification/components/organisms/notification-list.tsx
Labels: chore, Approved 🆗

#437 fix: 빌드 에러 수정
  features/notification/components/molecules/follow-notification.tsx
Labels: fix, Approved 🆗

#438 feat: 본인 프로필 페이지 > 친구 찾기 동선 추가
  features/profile/components/molecules/my-page-header.tsx
Labels: feat, Approved 🆗

#439 chore: 이미지 깨짐 현상 수정을 위한 시도
  features/record/components/organisms/photo-section.tsx
Labels: chore, Approved 🆗

#443 fix: 자기소개가 긴 경우 프로필 사진이 찌그러지는 현상 수정
  features/profile/components/organisms/profile-container.tsx
Labels: fix, Approved 🆗
