Repository depromeet/Swimie-Web, pull requests merged in 2024-11, with the labels that each got.

#453 chore: 바퀴 수 tab을 default로 설정
  features/record/hooks/use-distance-page-modal.tsx
Labels: chore, Approved 🆗

#457 fix: 달력 내 줄바꿈 방지
  features/main/components/calendar/atoms/calendar-item-layout.tsx
  features/main/components/calendar/molecules/calendar-header.tsx
Labels: fix, Approved 🆗

#455 fix: 팔로우/언팔로우 시 데이터 실시간 반영
  features/profile/hooks/use-profile-data.tsx
Labels: fix, Approved 🆗

#456 feat: 탈퇴 시 뒤로가기 버튼 제거 & 목표 미터 2000, 4000 추가
  app/delete-account/index.tsx
  features/setting/components/organisms/setting-calendar.tsx
Labels: feat, fix, Approved 🆗

#459 fix: 프로필 편집 시 변경점이 없다면 버튼 비활성화
  features/profile/components/organisms/profile-edit-form.tsx
Labels: fix, Approved 🆗

#458 fix: 물결 컴포넌트 path 내부 명령어를 올바르게 수정
  components/atoms/waves/waves.tsx
Labels: fix, Approved 🆗
