Repository depromeet/Swimie-Web, pull requests merged in 2024-07, with the labels that each got.

#8 chore: husky 적용
  .husky/commit-msg
  .husky/pre-commit
  .lintstagedrc.js
  commitlint.config.js
  package.json
  pnpm-lock.yaml
Labels: chore

#9 feat: auto assignees action 추가
  .github/workflows/auto-assignees.yml
Labels: feat

#12 feat: 자동 라벨링을 위한 GitHub-Actions workflow 추가
  .github/workflows/auto-labeling.yml
Labels: feat

#13 chore: 초기 디렉토리 구조를 세팅합니다.
  assets/index.ts
  components/atoms/index.ts
  components/index.ts
  components/molecules/index.ts
  features/index.ts
  hooks/index.ts
  utils/index.ts
Labels: chore

#20 feat: approved 상태에 따른 PR의 라벨 추가
  .github/workflows/review-status-labeling.yml
Labels: Approved 🆗

#24 chore: panda.config.ts 파일의 include 속성 수정
  panda.config.ts
Labels: Approved 🆗

#25 chore: 색깔, 그림자 token으로 정리
  panda.config.ts
Labels: chore, Approved 🆗

#33 feat: header-bar 컴포넌트 생성
  components/atoms/Button/Button.stories.tsx
  components/atoms/Button/index.ts
  components/atoms/Icons/index.ts
  components/atoms/Icons/left-arrow-icon.tsx
  components/atoms/index.ts
  components/molecules/header-bar/header-bar.tsx
  components/molecules/header-bar/index.ts
  components/molecules/header-bar/type.ts
  components/molecules/index.ts
Labels: feat, Approved 🆗

#32 feat: text-field 컴포넌트 생성
  app/page.tsx
  components/atoms/Button/Button.stories.tsx
  components/atoms/Button/index.ts
  components/atoms/Icons/down-arrow-icon.tsx
  components/atoms/Icons/index.ts
  components/atoms/Icons/left-arrow-icon.tsx
  components/atoms/index.ts
  components/molecules/header-bar/header-bar.tsx
  components/molecules/header-bar/index.ts
  components/molecules/header-bar/type.ts
  components/molecules/index.ts
  components/molecules/text-field/index.ts
  components/molecules/text-field/text-field-wrapper.tsx
  components/molecules/text-field/text-field.tsx
  components/molecules/text-field/type.ts
  components/molecules/text-field/use-text-field.tsx
Labels: feat, Approved 🆗

#31 chore: style 폴더 한개로 통합
  app/layout.tsx
  app/page.tsx
  components/atoms/Button/Button.stories.tsx
  components/atoms/Button/index.ts
  components/atoms/Icons/down-arrow-icon.tsx
  components/atoms/Icons/index.ts
  components/atoms/Icons/left-arrow-icon.tsx
  components/atoms/index.ts
  components/molecules/header-bar/header-bar.tsx
  components/molecules/header-bar/index.ts
  components/molecules/header-bar/type.ts
  components/molecules/index.ts
  components/molecules/text-field/index.ts
  components/molecules/text-field/text-field-wrapper.tsx
  components/molecules/text-field/text-field.tsx
  components/molecules/text-field/type.ts
  components/molecules/text-field/use-text-field.tsx
  panda.config.ts
  styles/colors.ts
  styles/font.ts
  styles/global.css
  styles/index.ts
  styles/shadows.ts
Labels: chore, style, Approved 🆗

#37 feat: Tab 컴포넌트를 구현합니다.
  components/atoms/Button/index.ts
  components/atoms/Button/type.ts
  components/molecules/Tab/Tab.tsx
  components/molecules/Tab/tab-item.tsx
  components/molecules/Tab/type.ts
Labels: feat, Approved 🆗

#41 chore: Tab 컴포넌트 관련 리팩토링 및 코드 리뷰 반영했습니다.
  components/atoms/Button/index.ts
  components/atoms/Button/type.ts
  components/atoms/button/button.stories.tsx
  components/atoms/button/button.tsx
  components/atoms/button/index.ts
  components/molecules/Tab/Tab.tsx
  components/molecules/Tab/tab-item.tsx
  components/molecules/Tab/type.ts
  components/molecules/index.ts
  components/molecules/tab/index.ts
  components/molecules/tab/tab-item.tsx
  components/molecules/tab/tab.tsx
  components/molecules/tab/type.ts
Labels: chore, refactor, Review Plz🙏

#44 chore: Icons directory를 삭제합니다
  components/atoms/Icons/down-arrow-icon.tsx
  components/atoms/Icons/index.ts
  components/atoms/Icons/left-arrow-icon.tsx
Labels: Review Plz🙏

#47 chore: header-bar 아이콘 수정 및 임의의 zIndex 부여
  components/atoms/icons/left-arrow-icon.tsx
  components/molecules/header-bar/header-bar.tsx
Labels: chore, Approved 🆗

#46 feat: 수영 기록 페이지 마크업 생성
  app/record/page.tsx
  components/atoms/divider/divider.tsx
  components/atoms/divider/index.ts
  components/atoms/icons/camera-icon.tsx
  components/atoms/icons/index.ts
  components/atoms/icons/left-arrow-icon.tsx
  components/molecules/header-bar/header-bar.tsx
  components/molecules/index.ts
  components/molecules/text-area/index.ts
  components/molecules/text-area/text-area.tsx
  features/record/hooks/index.ts
  features/record/hooks/use-sub-info-text-fields.tsx
  features/record/index.ts
  features/record/molecules/camera-box.tsx
  features/record/molecules/index.ts
  features/record/molecules/select-box.tsx
  features/record/organisms/diary-section.tsx
  features/record/organisms/equipment-section.tsx
  features/record/organisms/form.tsx
  features/record/organisms/index.ts
  features/record/organisms/photo-section.tsx
  features/record/organisms/style.ts
  features/record/organisms/sub-info-section.tsx
  features/record/organisms/sub-info-text-fields.tsx
  features/record/organisms/type.ts
Labels: feat, Approved 🆗

#53 chore: 공용 button 컴포넌트 작성 및 스토리북 설정을 변경했습니다.
  .github/workflows/deploy-storybook.yml
  .storybook/main.ts
  .storybook/preview.ts
  components/atoms/button/button.stories.tsx
  components/atoms/button/button.tsx
  components/atoms/button/type.ts
  panda.config.ts
Labels: docs, chore, Approved 🆗

#56 chore: header-bar 쌓임 규칙 컨벤션에 따른 zIndex 수정
  components/molecules/header-bar/header-bar.tsx
Labels: chore, Approved 🆗

#54 feat: 수영장 검색 page-modal 구현
  components/atoms/icons/index.ts
  components/atoms/icons/star-icon-fill.tsx
  components/atoms/icons/star-icon.tsx
  components/molecules/header-bar/header-bar.tsx
  features/record/apis/dto/index.ts
  features/record/apis/dto/pool-search.ts
  features/record/components/molecules/index.ts
  features/record/components/molecules/pool-search-result-element.tsx
  features/record/components/organisms/form.tsx
  features/record/components/organisms/index.ts
  features/record/components/organisms/pool-search-page-modal.tsx
  features/record/components/organisms/pool-search-result-list.tsx
  package.json
  pnpm-lock.yaml
Labels: feat, Approved 🆗

#52 feat: search-bar 컴포넌트를 생성합니다.
  components/atoms/icons/index.ts
  components/atoms/icons/search-icon.tsx
  components/atoms/icons/star-icon-fill.tsx
  components/atoms/icons/star-icon.tsx
  components/molecules/header-bar/header-bar.tsx
  components/molecules/index.ts
  components/molecules/search-bar/index.ts
  components/molecules/search-bar/search-bar.tsx
  features/record/apis/dto/index.ts
  features/record/apis/dto/pool-search.ts
  features/record/components/molecules/index.ts
  features/record/components/molecules/pool-search-result-element.tsx
  features/record/components/organisms/form.tsx
  features/record/components/organisms/index.ts
  features/record/components/organisms/pool-search-page-modal.tsx
  features/record/components/organisms/pool-search-result-list.tsx
  package.json
  pnpm-lock.yaml
Labels: feat, Approved 🆗

#51 feat: page-modal 컴포넌트를 생성합니다.
  components/atoms/icons/index.ts
  components/atoms/icons/search-icon.tsx
  components/atoms/icons/star-icon-fill.tsx
  components/atoms/icons/star-icon.tsx
  components/molecules/header-bar/header-bar.tsx
  components/molecules/index.ts
  components/molecules/page-modal/index.ts
  components/molecules/page-modal/page-modal.css
  components/molecules/page-modal/page-modal.tsx
  components/molecules/page-modal/type.ts
  components/molecules/search-bar/index.ts
  components/molecules/search-bar/search-bar.tsx
  features/record/apis/dto/index.ts
  features/record/apis/dto/pool-search.ts
  features/record/components/molecules/index.ts
  features/record/components/molecules/pool-search-result-element.tsx
  features/record/components/organisms/form.tsx
  features/record/components/organisms/index.ts
  features/record/components/organisms/pool-search-page-modal.tsx
  features/record/components/organisms/pool-search-result-list.tsx
  features/record/store/index.ts
  features/record/store/page-modal.ts
  package.json
  pnpm-lock.yaml
Labels: feat, Approved 🆗

#63 feat: 수영 거리 기록 페이지 모달 초기화면 생성
  components/atoms/button/button.tsx
  features/record/components/organisms/distance-page-modal.tsx
  features/record/components/organisms/form.tsx
  features/record/components/organisms/index.ts
  features/record/components/organisms/lane-length-bottom-sheet.tsx
  features/record/components/organisms/pool-search-page-modal.tsx
  features/record/hooks/index.ts
  features/record/hooks/use-distance-page-modal.tsx
  features/record/store/page-modal.ts
Labels: feat, Approved 🆗

#64 feat: 수영 거리 기록 page-modal -> 영법별 기록 markup 생성
  features/record/components/atoms/index.ts
  features/record/components/atoms/swim-badge.tsx
  features/record/components/molecules/distance-field-with-badge.tsx
  features/record/components/molecules/index.ts
  features/record/components/organisms/distance-page-modal.tsx
  features/record/components/organisms/stroke-distance-fields.tsx
  features/record/hooks/use-distance-page-modal.tsx
Labels: feat, Approved 🆗
